{
  "presets": ["@babel/preset-env"],
  "plugins": ["@babel/plugin-syntax-optional-chaining"],
  "targets": {
    "node": "current"
  },
  "env": {
    "development": {
      "sourceMaps": "inline",
      "retainLines": true
    },
    "testing": {
      "presets": [["@babel/preset-env", { "targets": { "node": "current" } }]]
    }
  }
}
